@use "./variables.scss" as *; // Importing variables for colors, fonts, etc.
@use "./breakpoints.scss" as *; // Importing breakpoints for responsive design

.categories {
  padding: 50px 60px; // Padding around the categories section
  display: flex; // Use flexbox for layout
  flex-direction: column; // Arrange items in a column
  align-items: center; // Center items horizontally
  text-align: center; // Center text alignment
  background-color: $lightgrey; // Background color for the section

  @include sm { // Responsive styles for small screens
    padding: 50px 20px; // Reduce horizontal padding
  }

  h1 {
    color: $blue; // Text color for the heading
    font-size: 40px; // Font size for the heading
    font-weight: 800; // Bold font weight
    margin-bottom: 15px; // Space below the heading
  }

  p {
    max-width: 700px; // Limit the width of the paragraph
    font-size: 20px; // Font size for the paragraph
  }

  .categories_list {
    display: flex; // Use flexbox for layout
    flex-wrap: wrap; // Allow items to wrap to the next line
    padding: 50px 0; // Padding above and below the list
    justify-content: center; // Center items horizontally
    gap: 20px; // Space between items

    a {
      text-decoration: none; // Remove underline from links
    }

    .category {
      position: relative; // Position relative for child elements
      display: flex; // Use flexbox for layout
      justify-content: center; // Center items horizontally
      align-items: center; // Center items vertically
      width: 250px; // Fixed width for each category
      height: 200px; // Fixed height for each category
      cursor: pointer; // Change cursor to pointer on hover

      img {
        position: absolute; // Position image absolutely within the category
        width: 100%; // Make the image fill the category
        height: 100%; // Make the image fill the category
      }

      .overlay {
        position: absolute; // Position overlay absolutely within the category
        width: 100%; // Make the overlay fill the category
        height: 100%; // Make the overlay fill the category
        background-color: rgba(0, 0, 0, 0.55); // Semi-transparent black overlay
        transition: 0.3s ease-in-out; // Smooth transition for hover effect
      }

      &_text {
        position: relative; // Position text relative to the category
        color: white; // Text color

        &_icon {
          font-size: 45px; // Font size for the icon
        }

        p {
          font-weight: 600; // Semi-bold font weight for the text
        }
      }

      &:hover {
        .overlay {
          width: 80%; // Shrink the overlay on hover
          height: 80%; // Shrink the overlay on hover
        }
      }
    }
  }
}