@use "./variables.scss" as *; // Importing variables for colors, fonts, etc.
@use "./breakpoints.scss" as *; // Importing breakpoints for responsive design

.title-list {
  margin: 40px 100px; // Margin around the title
  color: $blue; // Text color for the title

  @include sm { // Responsive styles for small screens
    margin: 40px 50px; // Adjust margin for smaller screens
  }
}

.list {
  padding: 0 100px 120px; // Padding around the list
  display: flex; // Use flexbox for layout
  justify-content: center; // Center items horizontally
  flex-wrap: wrap; // Allow items to wrap to the next line
  gap: 25px; // Space between items

  @include xl { // Responsive styles for extra-large screens
    padding: 0 20px 120px; // Adjust padding for larger screens
  }
}