@use "./variables.scss" as *; // Importing variables for colors, fonts, etc.
@use "./breakpoints.scss" as *; // Importing breakpoints for responsive design

.register {
  width: 100vw; // Full width of the viewport
  height: 100vh; // Full height of the viewport
  display: flex; // Use flexbox for layout
  justify-content: center; // Center content horizontally
  align-items: center; // Center content vertically
  flex-direction: column; // Arrange items in a column
  background: url("../../assets/register.jpg") center; // Background image centered
  background-size: cover; // Cover the entire background area

  &_content {
    display: flex; // Use flexbox for layout
    flex-direction: column; // Arrange items in a column
    gap: 15px; // Space between elements
    width: 40%; // Default width of the content container
    padding: 40px; // Padding inside the container
    background-color: rgba(0, 0, 0, 0.8); // Semi-transparent black background
    border-radius: 20px; // Rounded corners

    @include lg { // Responsive styles for large screens
      width: 60%; // Adjust width for larger screens
    }

    @include mm { // Responsive styles for medium screens
      width: 80%; // Adjust width for medium screens
    }

    &_form {
      display: flex; // Use flexbox for layout
      flex-direction: column; // Arrange items in a column
      align-items: center; // Center items horizontally
      gap: 15px; // Space between form elements

      input {
        width: 100%; // Full width of the input field
        padding: 7px 15px; // Padding inside the input field
        background-color: transparent; // Transparent background
        border: none; // Remove border
        border-bottom: 1px solid rgba(255, 255, 255, 0.3); // Bottom border with transparency
        outline: none; // Remove default outline
        text-align: center; // Center text alignment
        color: white; // Text color

        input:not(:placeholder-shown):focus {
          background: transparent; // Keep background transparent when focused
        }

        &::placeholder {
          color: white; // Placeholder text color
        }
      }

      label {
        display: flex; // Use flexbox for layout
        flex-direction: column; // Arrange items in a column
        justify-content: center; // Center items vertically
        align-items: center; // Center items horizontally
        gap: 9px; // Space between label elements
        cursor: pointer; // Change cursor to pointer on hover
        color: white; // Text color for the label
        font-size: 14px; // Font size for the label text

        img {
          width: 25px; // Set the width of the image inside the label
        }
      }

      button {
        margin-top: 15px; // Space above the button
        @include buttonStyle; // Apply button styles from variables
        width: 50%; // Set button width to 50% of the container

        &:hover {
          box-shadow: 0 0 10px 3px rgba(255, 255, 255); // Add a glowing effect on hover
        }
      }
    }

    a {
      text-decoration: none; // Remove underline from links
      color: white; // Link text color
      font-size: 13px; // Font size for links
      margin-top: 10px; // Space above the link
      text-align: center; // Center text alignment

      &:hover {
        text-decoration: underline; // Add underline on hover
      }
    }
  }
}