.slide {
  width: 100vw; // Full width of the viewport
  height: 80vh; // 80% of the viewport height
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), // Add a semi-transparent black gradient overlay
    url("../../assets/slide.jpg"); // Background image
  background-position: center top; // Position the background image at the center top
  background-size: cover; // Scale the background image to cover the entire area

  h1 {
    padding: 40px 20px; // Padding around the heading
    font-size: 40px; // Font size for the heading
    text-align: center; // Center the text horizontally
    color: white; // Text color for the heading
  }
}