:root {
  --pinkred: #e63946;
  --darkgrey: #333333;
  --grey: #e0e0e0;
  --blue: #1d3557;
  --lightgrey: #f1f1f1;
}

$pinkred: #e63946;
$blue: #1d3557;
$grey: #e0e0e0;
$lightgrey: #f1f1f1;
$darkgrey: #333333;


@mixin shadow {
  box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.2);
}

@mixin buttonStyle {
  padding: 10px 15px;
  background-color: $pinkred;
  border: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
  color: white;
  border-radius: 10px;
}

:export {
  pinkred: $pinkred;
  blue: $blue;
  lightgrey: $lightgrey;
  grey: $grey;
  darkgrey: $darkgrey;
}